//Design System Colors

// Colors
$orange: #fe5e41;
$green: #00a878;
$white: #fff;
$light-gray: #f2f2f2;
$medium-gray: #dedede;
$dark-gray: #bdbdbd;
$semi-black: #1e1e1e;
$darkest-gray: #6e6e6e;
